<div class="bg-primary full-screen coffee dark-hero clearfix">
  <a class="logo hidden-xs" href="<?php print $front_page; ?>" title="<?php print t('Home'); ?>">
    <img src="../../build/svg/logo_white.svg" onerror="this.onerror=null; this.src='../../build/img/logo_white_wide.png'" alt="Antistatique" />
  </a>
  <a class="logo visible-xs-block" href="<?php print $front_page; ?>" title="<?php print t('Home'); ?>">
    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 84.6 92.5" style="enable-background:new 0 0 84.6 92.5;" xml:space="preserve" width="30" height="30">
      <g class="antistatique_logo">
        <path d="M33.5,0L0,92.5h17.6L24,73.9h35.3l6.6,18.6h18.7L51,0H33.5z M29.3,58.3l12.3-35.6l12.1,35.6H29.3z"/>
      </g>
    </svg>
  </a>
  <div class="cups">
    <img class="img-responsive" src="../../build/img/tasses.png" alt="Tasses">
  </div>
  <h1>Let's get a coffee together!</h1>
  <div class="spacer spacer-sm"></div>
  <p>Leave us your: <b>phone</b>, <b>email</b> or <b>Twitter handle</b> <br>& we'll call/write/tweet you back!</p>
  <div class="input-group input-group-lg input-group-merged">
    <label class="sr-only" for="form-coffee" id="form-coffee-label">Phone number, email or Twitter handle<i class="antistaticon antistaticon-enter" aria-hidden="true"></i>
    </label>
    <input type="text" class="form-control form-enter" id="form-coffee" placeholder="Invite me for a coffee!" aria-describedby="form-coffee-label">
    <button class="btn btn-default" type="button"><span class="sr-only">Go!</span><i class="antistaticon antistaticon-enter" aria-hidden="true"></i></button>
  </div>
  <footer class="text-white small">Visit our <a href="http://antistatique.net">main site & portfolio</a><br class="visible-xs-block"> — <a href="tel:+41216236303">+41 21 623 63 03</a> — <br class="visible-xs-block"><a href="mailto:hello@antistatique.net">hello@antistatique.net</a></footer>
</div>
