<div class="text-center">
  <div class="spacer spacer-md"></div>
  <h3 class="text-huge"><a class="text-dark text-thin" href="tel:+41216236303">+41 21 623 63 03</a></h3>
  <div class="spacer spacer-md"></div>
</div>
<div class="bg-foggy">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="text-center">
          <h2 class="h3">Our offices</h2>
          <p>We are <del>usually</del> open from <strong>08:30</strong> to <strong>18:00</strong><br>So currently</p>
          <img class="shop-sign open" width="90px" src="/sites/all/themes/antistatique/build/svg/Antistatique-open.svg" alt="open">
          <img class="shop-sign closed" width="90px" src="/sites/all/themes/antistatique/build/svg/Antistatique-close.svg" alt="closed">
          <div class="spacer spacer-sm"></div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <div class="caption">
                <h2 class="media-heading h4">Lausanne</h2>
                <p class="h5">Rue de Sébeillon 9b<br>1004 Lausanne</p>
                <a href="https://goo.gl/maps/EtmV7"><i class="fa fa-map-marker badge"></i> View map</a>
                <div class="spacer spacer-xs"></div>
              </div>
              <img src="https://unsplash.it/500/500/?random">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src="https://unsplash.it/500/500/?random">
              <div class="caption">
                <h2 class="media-heading h4">Geneva</h2>
                <p class="h5">Rue Fendt 1<br>1201 Geneva</p>
                <a href="https://goo.gl/maps/hXVcB"><i class="fa fa-map-marker badge"></i> View map</a>
                <div class="spacer spacer-xs"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer spacer-md"></div>
      </div>
    </div>
  </div>
</div>
