@charset 'UTF-8';

/* stylelint-disable */
/* using a plugin */
.marvel-device {
  &.landscape,
  &.iphone6,
  &.iphone5s,
  &.nexus5,
  &.s5,
  &.lumia920,
  &.ipad,
  &.htc-one {
    height: auto !important;
    width: auto !important;
  }
  @media only screen and (max-width: $screen-sm-max) {
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    &:before,
    &:after,
    .top-bar,
    .sleep,
    .volume,
    .bottom-bar {display:none;}
  }
}

.browser-window {
  background: #e5e5e5;
  height: 25px;
  @media only screen and (min-width: $screen-sm-min) {
    height: 40px;
  }
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.browser-input {
  height: 50%;
  border-radius: 2px;
  background: #fff;
  flex-grow: 1;
}

.browser-buttons {
  padding-left: 12px;
  padding-right: 7px;
  & > div {
    height: 7px;
    width: 7px;
    @media only screen and (min-width: $screen-sm-min) {
      height: 10px;
      width: 10px;
    }
    border-radius: 100%;
    float: left;
    margin-right: 5px;
    &.browser-close {
      background: #bd5c53;
    }
    &.browser-minimize {
      background: #f49a11;
    }
    &.browser-maximize {
      background: #6bc3c2;
    }
  }
}

.browser-new-tab {
  background: #b2b2b2;
  width: 12px;
  @media only screen and (min-width: $screen-sm-min) {
    width: 24px;
  }
  height: 50%;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  &:after {
    content: '+';
    display: block;
    color: #7f7f7f;
    font-weight: 700;
    @media only screen and (max-width: $screen-xs-max) {
      font-size: 12px;
    }
  }
}
/* stylelint-enable */
