.input-group-btn:last-child > .btn {
  margin-left: 6px;
  height: 44px;
  border-radius: 2px;
}

.input-group-btn:first-child > .btn {
  margin-right: 6px;
  height: 44px;
  border-radius: 2px;
}

//merge the button inside the field
.input-group-merged {
  .btn {
    position: absolute;
    right: 0;
    z-index: 90;
    height: 100%;
    &:hover {
      background: none;
    }
  }
  .form-control {padding-right: 51px;}
}

.form-mobile {
  @media only screen and (max-width: $screen-xs-max) {
    .input-group {
      display: block;

      .form-control {
        display: inline-block;
        float: none;
      }
    }
    .input-group-btn {
      > .btn {
        margin-left: 0;
        margin-top: 4px;
      }
    }
  }
}
