@charset 'UTF-8';

.list-clients {
  text-align: center;
  font-size: 0;

  .client {
    display: inline-block;
    width: 50%;
    padding: $grid-gutter-width/2;

    @media only screen and (min-width: $screen-sm) {
      width: 33%;
    }

    @media only screen and (min-width: $screen-lg) {
      width: 20%;
    }
  }

  a.client:hover {
    opacity: 0.7;
  }
}
