.media-testimonial {
  border-top: 1px solid $midnight-blue-lighter;
  border-bottom: 1px solid $midnight-blue-lighter;
  padding: 35px 0;

  .pull-left {
    @media only screen and (max-width: $screen-xs-max) {
      float: none !important; // override pull-left
      img {
        @include center-block;
        margin-bottom: 15px;
      }
    }
  }

  img {
    @media only screen and (min-width: $screen-sm-min) {
      margin-right: 35px;
    }
  }
  .media-body {
    p {
      margin-bottom: 0;
      &:before {
        content: '“';
      }
      &:after {
        content: '”';
      }
    }
  }
}
