---
title: Overview | Fabricator
fabricator: true
---

<h1>Antistatique - Styleguide</h1>

<p>This is the UI toolkit we use for Antistatique website. It is intended as a good example of what you can achieve with a styleguide.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>


<h2>Colors</h2>

{{#each colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<h2>Typography</h2>

<div class="row">
	<div class="col-md-6">
	  <h1>H1. Dagny Extra Light</h1>
	  <h2>H2. Dagny Bold</h2>
	  <h3>H3. Dagny Extra Light</h3>
	  <h4>H4. Dagny Bold</h4>
	  <h5>H5. Dagny Extra Light</h5>
	  <h6>H6. Dagny Bold</h6>
	  <hr>
	  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, minus, possimus minima quibusdam nihil dolorem. Itaque, exercitationem, perferendis.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing <a href="#">Link</a>. Earum perferendis incidunt eaque itaque, sed quos, ullam obcaecati perspiciatis deserunt nihil, unde iste vitae inventore eum. Delectus error veniam libero hic.</p>
	  <p>Lorem ipsum <strong>Strong</strong> sit amet, consectetur adipisicing elit. Accusantium doloribus totam debitis, illo architecto eos. Repellat earum id tempora optio <em>Italic</em> quas atque laborum odit ullam necessitatibus animi, eligendi deserunt!</p>
	  <p><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua.</small></p>
	  <ul class="list-dash">
	    <li><strong>Gras</strong></li>
	    <li><a href="#">Liens</a></li>
	    <li><strong><a href="#">Liens Gras</a></strong></li>
	  </ul>
	  <ul>
	    <li>List item 1</li>
	    <li>List item 2
	      <ul>
	        <li>List item 3</li>
	        <li>List item 4</li>
	      </ul>
	    </li>
	  </ul>
	  <ol>
	    <li>List item 1</li>
	    <li>List item 2
	      <ol>
	        <li>List item 3</li>
	        <li>List item 4</li>
	      </ol>
	    </li>
	  </ol>
	</div>

	<div class="col-md-6 inverse">
	  <h1>H1. Dagny Extra Light</h1>
	  <h2>H2. Dagny Bold</h2>
	  <h3>H3. Dagny Extra Light</h3>
	  <h4>H4. Dagny Bold</h4>
	  <h5>H5. Dagny Extra Light</h5>
	  <h6>H6. Dagny Bold</h6>
	  <hr>
	  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, minus, possimus minima quibusdam nihil dolorem. Itaque, exercitationem, perferendis.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing <a href="#">Link</a>. Earum perferendis incidunt eaque itaque, sed quos, ullam obcaecati perspiciatis deserunt nihil, unde iste vitae inventore eum. Delectus error veniam libero hic.</p>
	  <p>Lorem ipsum <strong>Strong</strong> sit amet, consectetur adipisicing elit. Accusantium doloribus totam debitis, illo architecto eos. Repellat earum id tempora optio <em>Italic</em> quas atque laborum odit ullam necessitatibus animi, eligendi deserunt!</p>
	  <p><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua.</small></p>
	  <ul class="list-dash">
	    <li><strong>Gras</strong></li>
	    <li><a href="#">Liens</a></li>
	    <li><strong><a href="#">Liens Gras</a></strong></li>
	  </ul>
	  <ul>
	    <li>List item 1</li>
	    <li>List item 2
	      <ul>
	        <li>List item 3</li>
	        <li>List item 4</li>
	      </ul>
	    </li>
	  </ul>
	  <ol>
	    <li>List item 1</li>
	    <li>List item 2
	      <ol>
	        <li>List item 3</li>
	        <li>List item 4</li>
	      </ol>
	    </li>
	  </ol>
	</div>
</div>
