.page-top {
  .alert {
    text-align: center;
    margin-bottom: 0;
  }
}

.alert .alert-link{
  text-decoration: underline;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.alert-dismissable,
.alert-dismissible {
  position: relative;
  .close {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 15px;
    font-size: 40px;
    opacity: .7;
    color: $white;
    &:hover {
      opacity: 1;
    }
  }
}
