@charset 'UTF-8';

.badge {
  &.fa {
    position: relative;
    bottom: -4px;
    width: 50px;
    background: $dust;
    border-radius: 50%;
    font-size: 1.5em;
    line-height: 44px;

    &:empty { display: inline-block; }
    &:before { color: $link-color; }
  }
}
