@charset 'UTF-8';

* {
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h3,
.h3,
h5,
.h5 {
  font-weight: 200;
}

@media only screen and (max-width: $screen-md-max) {
  h1,
  .h1 {
    font-size: $font-size-h1 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  h2,
  .h2 {
    font-size: $font-size-h2 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  h3,
  .h3 {
    font-size: $font-size-h3 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  h4,
  .h4 {
    font-size: $font-size-h4 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  h5,
  .h5 {
    font-size: $font-size-h5 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  h6,
  .h6 {
    font-size: $font-size-h6 * 0.8;
    line-height: $headings-line-height * 0.95;
  }

  p,
  .field-body,
  abbr,
  cite,
  .main-content li {
    font-size: $font-size-base * 0.9;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  h1,
  .h1 {
    font-size: $font-size-h1 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  h2,
  .h2 {
    font-size: $font-size-h2 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  h3,
  .h3 {
    font-size: $font-size-h3 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  h4,
  .h4 {
    font-size: $font-size-h4 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  h5,
  .h5 {
    font-size: $font-size-h5 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  h6,
  .h6 {
    font-size: $font-size-h6 * 0.75;
    line-height: $headings-line-height * 0.95;
  }

  p,
  .field-body,
  abbr,
  cite,
  .main-content li {
    font-size: $font-size-base * 0.85;
    line-height: $line-height-base * 0.9;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  h1,
  .h1 { font-size: $font-size-h1 * 0.7; }

  h2,
  .h2 { font-size: $font-size-h2 * 0.65; }

  h3,
  .h3 { font-size: $font-size-h3 * 0.65; }

  h4,
  .h4 { font-size: $font-size-h4 * 0.65; }

  h5,
  .h5 { font-size: $font-size-h5 * 0.65; }

  h6,
  .h6 { font-size: $font-size-h6 * 0.65; }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    small,
    .small {
      font-size: 65%;
    }
  }

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    small,
    .small {
      font-size: 75%;
    }
  }
}
