.form-control {
  box-shadow: none;

  .well-white & {
    background: $dust;
  }
}

.control-label {
  font-weight: 400;
}

textarea.form-control {
  max-width: 100%;
}

.form-select {
  display: block;
  width: 100%;
  border: $midnight-blue-light;
  background: $dust url(../svg/caret.svg) no-repeat;
  background-position: 98% center;
  height: 44px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; // firefox fix
  text-overflow: ''; // firefox fix
  padding: 6px 12px;

  &.ctools-jump-menu-select:hover {
    cursor: pointer;
  }
}
