a,
button {
  transition: color .2s;
}

// TODO move this to a better file...
header.header {
  .navbar-nav > li:not(.active):not(.active-trail) > a {
    @include medium-link($hover-color: $link-color,$position: 40px);
    .dark-hero & {
       background-image: linear-gradient(to bottom, rgba($navbar-inverse-link-color,0) 50%, $navbar-inverse-link-color 50%);
    }
    &:hover {
      .dark-hero & {
        background-image: linear-gradient(to bottom, rgba($link-color,0) 50%, $link-color 50%);
      }
    }
  }
}

.link-inverse{
  color: $navbar-inverse-link-color;
  &:hover{
    color: $navbar-inverse-link-hover-color;
  }
  &:active, &.active{
    color: $navbar-inverse-link-active-color;
  }
}

.link-image {
  position: relative;
  display: block;
  &:after {
    content: '';
    background: $link-color;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in;
  }
  &:hover {
    &:after {
     height: 4px;
    }
  }
  a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba($midnight-blue, 1), rgba($midnight-blue, 0));
    opacity: 0;
    display: block;
    transition: all .2s;
  }
  a:hover:before {
    opacity: .4;
  }
}
