---
wrapper: col-sm-6
notes: |
  **Usage : `{{> card }}`**

  **Options :**
  - **btn-class** - String
---
<a href="#">
  <div class="card">
    <div class="field-teammate-hero-image">
      <img class="img-responsive" src="http://unsplash.it/555/312" alt="Image" title="">
    </div>
    <div class="card-content">
      <p>
        <small class="field-skills">Javascript</small>
        <small class="field-skills">Mobile</small>
      </p>
      <h4>Jeu Mobile - Montreux Jazz Festival</h4>
    </div>
  </div>
</a>
