---
wrapper: col-sm-6 well-white
notes: |
  **Usage : `{{> form-group }}`**

  Here presented in a `.well-white` wrapper.
---
<div class="form-group">
  <label class="control-label" for="email">Votre email <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" class="form-control required" placeholder="Une adresse valide..." type="email" id="email" name="email">
</div>
