---
background-variant: true
wrapper: col-sm-6
notes: |
  **Usage : `{{> input-group }}`**

  Here presented on a `.bg-foggy` background.
---
<div class="input-group">
  <input id="fieldEmail" name="cm-ykuhg-ykuhg" placeholder="Votre adresse email" class="form-control" type="email" required="">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </span>
</div>
