---
wrapper: col-xs-6 col-sm-2
notes: |
  **Usage : `{{> team-tiny }}`**
---
<a href="#" class="profile team-tiny">
  <div class="team-avatar winner">
    <img src="../build/img/team/Round_512_Saniha.png" alt="Saniha" class="img-circle img-responsive">
  </div>
  <div class="clearfix"></div>
  <p class="h6 text-md text-dark">Saniha</p>
</a>
