---
wrapper: col-sm-6
notes: |
  **Usage : `{{> teaser }}`**
---
<article>
  <p class="meta small">
    <a class="pull-right" href="#"><i class="fa fa-comment"></i></a>
    <span>3.08.2015 › par <a href="#">Saniha</a> dans <span class="field-category"><a href="#">talk</a> <a href="#">explication</a></span></span>
  </p>
  <div class="link-image">
    <a href="#"><img class="img-responsive" src="http://unsplash.it/535/214" alt="Interactive project management"></a>
  </div>
  <a href="#"><h3 class="h6">Interactive Project Management</h3></a>

  <div class="field-body">
    Pixels, People and Process Nancy Lyons and Meghan Wilker (CEO &amp; COO chez Clockwork ) 1. Introduction This book should be called "A... {{> more-link }}
  </div>
</article>
