---
background-variant: true
wrapper: col-sm-4
notes: |
  **Usage : `{{> thumbnail }}`**
---
<div class="thumbnail text-center">
  <div class="caption">
    <h2 class="media-heading h4">Lausanne</h2>
    <p class="h5">Rue de Sébeillon 9b<br>1004 Lausanne</p>
    <p class="h5">
      <a class="text-thin" href="tel:+41216236303">+41 21 623 63 03</a>
    </p>
    <a href="#"><i class="fa fa-map-marker badge"></i> Voir carte</a>
    <div class="spacer spacer-xs"></div>
  </div>
  <img src="../build/img/square-as.jpg" alt="our office in Lausanne">
</div>
