.full-screen {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

// special coffee page 2015
.coffee {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;

  .logo {
    display: block;
    margin-top: 10px;
    text-align: center;

    @media only screen and (max-width: $screen-xs-max) { margin-top: 10px; }
    img { width: 230px; }
  }

  .christmas-tree {
    text-align: center;
    margin: auto 0;
    padding: 0;
  }
  .region-content-below { margin-bottom: auto; }

  img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
  }
  .control-label { display: none; }

  .form-item,
  .input-group-merged {
    align-self: center;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;

    @extend .input-group;
    @extend .input-group-lg;

    @media only screen and (max-width: $screen-xs-max) { width: 100%; }
  }

  .alert-success {
    background: $brand-primary-dark;
    border-color: $white;
    color: $white;

    @media only screen and (max-width: $screen-xs-max) {
      .close { margin-right: -20px; }
    }
  }

  .form-control { background: $white; }

  h1 {
    font-size: 5vw;

    @media only screen and (max-width: $screen-xs-max) {
      font-size: 2em;
    }
  }

  a {
    font-weight: 600;
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $brand-primary-dark;
    }
  }

  footer {
    margin-top: auto;
    padding: 20px 0;
  }
}
