@charset "UTF-8";

/*doc
---
title: Navbar
name: a-navbar
category: Components - Navbar
---

```html_example
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="logo navbar-btn navbar-brand pull-left hidden-xs hidden-sm" href="#" title="Home">
      <img src="svg/logo.svg" onerror="this.onerror=null; this.src='img/logo.png'" alt="Antistatique" />
    </a>
    <a class="logo navbar-btn navbar-brand pull-left visible-xs-inline-block visible-sm-inline-block" href="#" title="Home">
      <img src="svg/A-logo.svg" onerror="this.onerror=null; this.src='img/A-logo.png'" alt="Antistatique" />
    </a>

    <a href="/contact" type="button" class="pull-right btn btn-primary navbar-btn visible-xs">
      <i class="fa fa-paper-plane"></i>
      <span class="sr-only">Contact</span>
    </a>

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
      <span class="sr-only">Toggle navigation</span>
      <div class="inline-block">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      Menu
    </button>
  </div>

  <div class="navbar-collapse navbar-collapse-example navbar-mobile collapse">
    <nav role="navigation" class="inverse">
      <ul class="menu nav navbar-nav">
        <li class="first collapsed"><a href="/fr/nous" title="">Nous</a></li>
        <li class="expanded active-trail dropdown active">
          <a href="/fr/travaillons" title="" class="active-trail dropdown-toggle active" data-target="#" data-toggle="dropdown" aria-expanded="false">Travaillons <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="first leaf"><a href="/fr/nous/travaillons/avec">Avec</a></li>
            <li class="last leaf"><a href="/fr/nous/travaillons/les-technologies">Les technologies</a></li>
          </ul>
        </li>
        <li class="last leaf"><a href="/fr/avec-vous">Avec vous</a></li>
      </ul>
    </nav>
    <div class="nav navbar-right navbar-btn">
      <a href="/contact" class="btn btn-primary">Contact Us</a>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
      <span class="sr-only">Close navigation</span>
      <span class="h5">&times;</span>
      Close
    </button>
  </div>

</div>
```
*/

.header {
  @media only screen and (min-width: $screen-sm-min) {
    position: absolute;
    z-index: 2;
  }
  width: 100%;
}

.navbar-brand {
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 0;
  }
  img {
    min-width: 29px;
    width: 30px;
    max-height: 31px;
    @media only screen and (min-width: $screen-md-min) {
      width: 165px;
    }
  }
}

.navbar {
  font-weight: 700;
  @media only screen and (max-width: $screen-xs-max) {
    margin: 20px 0;
    position: static;
  }
  @media only screen and (min-width: $screen-sm-min) {
    border-bottom: 1px solid $midnight-blue-light;
  }
}

.navbar-nav > li > a {
  @media only screen and (max-width: $screen-xs-max) {
    display: inline-block;
  }
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav {
  > li {
    @media only screen and (min-width: $screen-sm-min) {
      padding: 45px 15px 29px 15px;
    }
  }
}

.navbar-btn {
  margin-top: 11px;
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 43px;
  }
}

.navbar-header {
  .btn {
    height: 44px;
    width: 44px;
    padding: 11px 0 0 4px;
    font-size: 17px;
  }
}

.navbar-collapse.navbar-mobile {
  @media only screen and (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: 0;
    padding-right: 0;

    > nav {
      padding: 20px 15px;
    }

    .navbar-toggle {
      display: block;
      float: none;
      margin: 0 auto;
    }
    .navbar-nav {
      margin: 0;

      > li:not(.active) > a {
        color: $white;
        background-image: linear-gradient(to bottom, rgba($white, 0) 25%, rgba($white, 0.6) 25%);
        background-repeat: repeat-x;
        background-size: 3px 3px;
        &:hover {
          color: $link-color;
        }
      }
    }
    .navbar-btn {
      position: absolute;
      top: 18px;
      right: 15px;
      & + .navbar-btn {
        right: 40px;
      }
    }
  }

}

.lang-switcher {
  margin-left: 10px;
}

/*doc
---
title: Inverted navbar
name: b-inverted-navbar
category: Components - Navbar
---

```html_example
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
```
*/



/*doc
---
title: Form
name: c-form
category: Components - Navbar
---

```html_example
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
```
*/



/*doc
---
title: Text
name: d-text
category: Components - Navbar
---

```html_example
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
      <p class="navbar-text">Signed in as Mark Otto</p>
    </div>
  </div>
</nav>
```
*/



/*doc
---
title: Dropdown
name: e-dropdown
category: Components - Navbar
---

```html_example
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
```
*/

/*doc
---
title: Primary tabs Drupal admin
name: e-drupaltabs
category: Components - Drupal tabs
---


```html_example
<div class="logged-in">
<ul class="tabs--primary nav nav-tabs">
  <li class="active"><a href="/fr/nous" class="active">View<span class="element-invisible">(active tab)</span></a></li>
  <li class=""><a href="/fr/node/1/edit">Edit</a></li>
  <li class=""><a href="/fr/node/1/translate">Translate</a></li>
  <li class=""><a href="/fr/node/1/revisions">Revisions</a></li>
</ul>
</div>
```
*/
.logged-in .tabs--primary{
  position: fixed;
  bottom: 0px;
  z-index: 999;
  right: 10px;
  background: rgba(255, 255, 255, 0.67) none repeat scroll 0% 0%;
}
