@charset "UTF-8";
/*doc
---
title: Quote
name: a-quote
category: Antistatique - Components
---

```html_example
<blockquote class="quote">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis consectetur voluptates, voluptatem placeat praesentium doloribus, suscipit quidem? Autem blanditiis dicta, qui aliquid accusantium quisquam doloribus natus atque, recusandae rem.</p>
  <footer>Saniha • experte en version latine</footer>
</blockquote>
```

*/

blockquote {
  border-left: none;
  border-top: 1px solid $midnight-blue-lighter;
  border-bottom: 1px solid $midnight-blue-lighter;
  padding-top: 25px;
  padding-bottom: 25px;
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 10%;
    padding-right: 10%;
  }

  &:before,
  &:after {
    font-size: 70px;
    position: absolute;
    color: $dust;
    @media only screen and (min-width: $screen-sm-min) {
      font-size: 100px;
    }
  }
  &:before {
    content: '“';
    left: 0;
    top: 57px;
    @media only screen and (min-width: $screen-sm-min) {
      top: 51px;
    }
  }
  &:after {
    content: '”';
    right: 0;
    bottom: 47px;
    @media only screen and (min-width: $screen-sm-min) {
      bottom: 14px;
    }
  }
}