@charset "UTF-8";

/*doc
---
title: Default well
name: a-well
category: Components - Well
---

```html_example
<div class="well">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
```
*/

.well-white {
  background: $white;
  box-shadow: none;
  border: none;
}

.well-lg {
  padding: 30px 50px;
}

/*doc
---
title: Sizes
name: b-sizes-well
category: Components - Well
---

```html_example
<div class="well well-lg">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
<div class="well well-sm">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
```
*/
