@charset "UTF-8";
/*doc
---
title: Article
name: a-article
category: Antistatique - Blog
---

*/

/*doc
---
title: Teaser
name: b-articleteaser
category: Antistatique - Blog
---

```html_example
<div class="row">
  <div class="col-md-4 col-sm-6">
    <article>
      <p class="meta small">
        <span class="pull-right"><a href="#">17 <i class="fa fa-comment"></i></a></span>
        <span>3 days ago › by <a href="#">Marc</a> in <a href="#">#speak</a></span>
      </p>
      <div class="link-image">
        <a href="#"><img class="img-responsive" src="img/article-teaser.png" alt="img"></a>
      </div>
      <a href="#"><h3 class="h6">Frontend conf in Zurich</h3></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quisquam amet consectetur delectus tenetur natus quam maxime expedita exercitationem soluta dolorum eum nihil quia, repudiandae officiis nobis illum? Delectus, dolore! <span class="readmore"><a href="#">Read more</a></span></p>
    </article>
  </div>
</div>
```

*/

.node-type-article {
  .content {
    aside {
      @include make-md-column(6); // will be the same size as a col-md-3 ;)
      position: absolute;
      left: -50%;
    }
  }
}

.field-name-field-co-author {
  .field-item {
    display: inline-block;
  }
  .user-picture img{
    display: inline-block;
  }
}

header {
  .meta {
    text-align: left;
    margin-bottom: 25px;
  }
}