.half {
  .field-item {
    display: inline-block;
    width: 50%;
  }
}

.readmore a:before,
.more-link:before {
  content: '›';
  margin: 0 4px;
}

.embed-responsive {
  margin-top: 25px;
  margin-bottom: 50px;
}

.field-label {
  color: $text-muted;
}

// remove ungraceful margin-top from titles in content
.main-content .field-body {
  h2:first-of-type {
    margin-top: 0;
  }
}