.half {
  .field-item {
    display: inline-block;
    width: 50%;
  }
}

.readmore a,
.field-body .more-link {
  position: relative;
  margin-left: 20px;
  @include medium-link-hover($position: 1.1em);

  &:before,
  &:before {
    content: '›';
    margin: 0 4px;
    position: absolute;
    left: -15px;
  }
}


.embed-responsive {
  margin-top: 25px;
  margin-bottom: 50px;
}

.field-label {
  color: $text-muted;
}

// remove ungraceful margin-top from titles in content
.main-content .field-body {
  h2:first-of-type {
    margin-top: 0;
  }
}
