/*doc
---
title: Cover Overlap
name: a-cover-overlap
category: Layout - Cover
---

```html_example
<div class="img-hero" style="background-image:url('img/cover_Alberto.jpg')">

</div>
<div class="cover-overlap">
  <header class="clearfix">
    <h1>Alberto Gomez</h1>
    <img class="img-circle img-responsive img-center" src="../img/team/Round_512_Alberto.png" alt="La bouille d'Alberto">
    <h2 class="h6">Digital Strategist & Founder</h2>
  </header>
</div>
```

*/

.cover-overlap {
  margin-top: -175px;

  h1 {
    margin-bottom: $font-size-base * 2;
  }
  h2 {
    padding-bottom: 38px;
  }

  header {
    text-align: center;
    border-bottom: 1px solid $hr-border;
    margin-bottom: 50px;

    img {
      max-width: 100px;
    }
  }
  @media only screen and (max-width: $screen-xs-max) {
    margin-top: 0;
    h1 { margin-bottom: $font-size-base; }
    h2 { padding-bottom: $font-size-base; }
    header {
      img {
        max-width: 60px;
        position: absolute;
        left: 15px;
        top: -61px;
      }
    }
  }
}



.img-hero{
  min-height: 600px;
  background-size: cover;
  background-position: 50% 50%;
  transition: min-height ease-in-out 0.3s;
  @media only screen and (min-width: $screen-xl-min) {
    min-height: 1000px;
  }
  @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    min-height: 800px;
  }
  @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-height: 600px;
  }
  @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-height: 400px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    min-height: 200px;
  }
  @media only screen and (max-height: 400px) {
    min-height: 200px;
  }
  @media only screen and (max-height: 800px) and (min-height: 401px) {
    min-height: 400px;
  }
  @media only screen and (max-height: 1000px) and (min-height: 801px) {
    min-height: 600px;
  }
}