@charset "UTF-8";
/*doc
---
title: Images
name: a-images
category: Layout - Images
---


```html_example
<img src="http://lorempixel.com/700/400/cats" alt="Some cats image">
```
*/

.img-center {
  margin: 0 auto;
}

.img-full {
  width: 100%;
  height: auto;
}

.content {
  img {
    max-width: 100%;
    height: auto;
  }
}


/*doc
---
title: Figure
name: b-figure
category: Layout - Images
---


```html_example
<figure>
  <img src="http://lorempixel.com/700/400/cats" alt="Some cats image">
  <figcaption>Note : Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
</figure>
```
*/



/*doc
---
title: Images shapes
name: c-images-shape
category: Layout - Images
---

```html_example
<img src="http://lorempixel.com/150/150/cats" alt="Some cats image" class="img-rounded">
<img src="http://lorempixel.com/150/150/cats" alt="Some cats image" class="img-circle">
<div class="img-a"><img src="http://lorempixel.com/150/150/cats" alt="Some cats image" class="img-circle"></div>
<img src="http://lorempixel.com/150/150/cats" alt="Some cats image" class="img-thumbnail">
```
*/

.img-a {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    background: url(../svg/A-logo.svg) no-repeat center center;
    background-size: percentage(1/3);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
