/*doc
---
title: Link
name: i-linkunderlinetest
category: Layout - Typography
---

Test based on Medium way of doing things! @Guillaume ;)

```html_example
<div class="content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eaque possimus, eligendi. Veniam eaque assumenda nulla error, cupiditate quod veritatis omnis, numquam, ducimus, suscipit consequuntur accusamus aliquam <a href="#">Link with an underline that is wraping on the next line</a>  cumque itaque recusandae?
  </p>
</div>
```

*/

a,
button {
  transition: all .2s;
}

// TODO move this to a better file...
header.header {
  .navbar-nav > li:not(.active):not(.active-trail) > a {
    @include medium-link($hover-color: $link-color,$position: 34px);
    .dark-hero & {
       background-image: linear-gradient(to bottom, rgba($navbar-inverse-link-color,0) 50%, $navbar-inverse-link-color 50%);
    }
    &:hover {
      .dark-hero & {
        background-image: linear-gradient(to bottom, rgba($link-color,0) 50%, $link-color 50%);
      }
    }
  }
}

/*doc
---
title: Image in link
name: i-linkimage
category: Layout - Images
---

```html_example
<div class="link-image">
  <a href="#"><img src="img/article-teaser.png" alt="image"></a>
</div>
```

*/

.link-image {
  position: relative;
  display: block;
  &:after {
    content: '';
    background: $link-color;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in;
  }
  &:hover {
    &:after {
     height: 4px;
    }
  }
}
