/*doc
---
title: Link
name: i-linkunderlinetest
category: Layout - Typography
---

Test based on Medium way of doing things! @Guillaume ;)

```html_example
<div class="content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eaque possimus, eligendi. Veniam eaque assumenda nulla error, cupiditate quod veritatis omnis, numquam, ducimus, suscipit consequuntur accusamus aliquam <a href="#">Link with an underline that is wraping on the next line</a>  cumque itaque recusandae?
  </p>
</div>
```

*/

.content a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba($link-color,0) 50%, rgba($link-color,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 0.9em;
  &:hover {
    background-image: linear-gradient(to bottom, rgba($link-hover-color,0) 50%, rgba($link-hover-color,0.6) 50%);
  }
}

header.header {
  .navbar-nav > li:not(.active):not(.active-trail) > a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba($text-color,0) 50%, rgba($text-color,0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 34px;
    &:hover {
      background-image: linear-gradient(to bottom, rgba($link-color,0) 50%, rgba($link-color,0.6) 50%);
    }
  }
}

/*doc
---
title: Image in link
name: i-linkimage
category: Layout - Images
---

```html_example
<div class="link-image">
  <a href="#"><img src="img/article-teaser.png" alt="image"></a>
</div>
```

*/

.link-image {
  position: relative;
  display: block;
  &:after {
    content: '';
    background: $link-color;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in;
  }
  &:hover {
    &:after {
     height: 4px;
    }
  }
}
