/*doc
---
title: Image & Aside
name: a-image-aside
category: Antistatique - Paragraphs
---

```html_example
<div class="content">
  <div class="row">
    <div class="col-md-8 col-md-push-3">
      <div class="field field-name-field-image field-type-image field-label-hidden">
        <img class="img-responsive" src="img/boulot_devs_yann_gilles.jpg">
      </div>
    </div>
    <aside class="col-md-pull-7 col-md-2">
      <div class="field field-name-field-aside field-type-text-long field-label-hidden">
        <p>Ceci est le texte qui accompagne cette magnifique image. Nous avons également un lien <a href="#">ici</a>, qui n'amène à rien par contre.</p>
      </div>
    </aside>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="field field-name-field-image field-type-image field-label-hidden">
        <img class="img-responsive" src="img/boulot_devs_yann_gilles.jpg">
      </div>
    </div>
    <aside class="col-md-2">
      <div class="field field-name-field-aside field-type-text-long field-label-hidden">
        <p>Ceci est le texte qui accompagne cette magnifique image. Nous avons également un lien <a href="#">ici</a>, qui n'amène à rien par contre.</p>
      </div>
    </aside>
  </div>
</div>
```

*/

.content {
  aside {
    color: $text-muted;
    font-size: $font-size-small;
    &:after {
      content: '';
      height: 0;
      border-bottom: 1px solid  $midnight-blue-lighter;
      width: 24px;
      margin-top: 15px;
      display: block;
    }
  }
}

/*doc
---
title: Quote
name: b-para-quote
category: Antistatique - Paragraphs
---

```html_example
<blockquote class="blockquote-paragraph">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam, aliquid eius laudantium, facere commodi omnis dolores natus porro maxime laborum deserunt! Ipsa quis est autem unde hic id suscipit?</p>
  <footer>Cicéron • Grand penseur avec nom à géométrie conditionnelle</footer>
</blockquote>
```

*/

blockquote.blockquote-paragraph {
  // font-size: $font-size-base;
  // font-weight: 400;
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media only screen and (min-width: $screen-sm-min) {
    &:before,
    &:after {
      font-size: 70px;
      position: absolute;
      color: $dust;
      font-size: 100px;
    }
    &:before {
      content: '“';
      left: 0;
      top: 57px;
      top: 51px;
    }
    &:after {
      content: '”';
      right: 0;
      bottom: 47px;
      @media only screen and (min-width: $screen-sm-min) {
        bottom: 14px;
      }
    }
  }
}

.paragraphs-item-image-wide {
  .half {
    margin: 0 auto;
    max-width: 2600px;
    @media only screen and (min-width: $screen-sm-min) {
      @include clearfix;
      .field-wide-images {
        max-width: 50%;
        float: left;
      }
    }
  }
}
