@charset "UTF-8";
/*doc
---
title: Project
name: a-project
category: Antistatique - Project
---

See [content types]().

*/

/*doc
---
title: Teaser
name: b-project
category: Antistatique - Project
---

```html_example
<div class="row">
  <div class="col-md-6">
    <a href="#">
      <div class="clearfix card">
        <img src="img/boulot_devs_yann_gilles.jpg" alt="image">
        <div class="card-content">
          <p><small>Branding • Symfony • Responsive</small></p>
          <h4>Title of the project</h4>
        </div>
      </div>
    </a>
  </div>
</div>
```

*/