@charset "UTF-8";
/*doc
---
title: Teammate
name: a-teammate
category: Antistatique - Team
---

See [content types]().

*/

/*doc
---
title: Tiny
name: abis-teammate
category: Antistatique - Team
---

```html_example
<ul class="list-unstyled">
    <li class="col-xs-3 col-sm-2">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Philippe.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Philippe
          </h6>
        </a>
    </li>
    <li class="col-xs-3 col-sm-2">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Saniha.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Saniha
          </h6>
        </a>
    </li>
    <li class="col-xs-3 col-sm-2 active">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Guillaume.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Guillaume
          </h6>
        </a>
    </li>
    <li class="col-xs-3 col-sm-2">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Marc.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Marc
          </h6>
        </a>
    </li>
    <li class="col-xs-3 col-sm-2">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Gilles.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Gilles
          </h6>
        </a>
    </li>
    <li class="col-xs-3 col-sm-2">
        <a href="#" class="team-tiny">
          <div class="team-avatar">
            <img src="img/team/Round_512_Yann.png" alt="" class="img-circle img-responsive">
          </div>
          <h6 class="text-md text-dark hidden-xs">
            Yann
          </h6>
        </a>
    </li>
</ul>
```

*/

.team-tiny,
.team-teaser {
  border: none;
  text-align: center;
  color: inherit;
  text-decoration: none;

  .team-avatar {
    position: relative;
    display: block;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      transition: all $transition-duration;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    img {
      padding: 3px;
      position: relative;
    }
  }

  h6 {
    text-decoration: underline;
  }

  &:hover {
    .team-avatar {
      &:before {
        background: $link-color;
        animation-name: hover-effect;
        animation-duration: $transition-duration;
        animation-timing-function: ease-in-out;
      }
    }
  }
  &:hover,
  .active & {
    .team-avatar {
      &:before {
        background: $link-color;
      }
    }
    h6 {
      color: $link-color;
    }
  }
}

/*doc
---
title: Teaser
name: b-teammate
category: Antistatique - Team
---

```html_example
<ul class="list-unstyled row">
    <li class="col-sm-6 col-md-4 col-lg-2 col-lg-offset-2 active">
        <a href="#" class="team-teaser">
          <div class="team-avatar">
            <img src="img/team/Round_512_Sepehr.png" alt="" class="img-circle img-responsive">
          </div>
          <div>
            <h6 class="text-md text-dark">
              Sepehr
            </h6>
          </div>
          <p>
            <small class="text-muted text-xs">Visual Designer</small>
          </p>
        </a>
    </li>
    <li class="col-sm-6 col-md-4 col-lg-2 col-lg-offset-1">
        <a href="#" class="team-teaser">
          <div class="team-avatar">
            <img src="img/team/Round_512_Toni.png" alt="" class="img-circle img-responsive">
          </div>
          <div>
            <h6 class="text-md text-dark">
              Toni
            </h6>
          </div>
          <p>
            <small class="text-muted text-xs">Frontend Developer</small>
          </p>
        </a>
    </li>
    <li class="col-sm-6 col-md-4 col-lg-2 col-lg-offset-1">
        <a href="#" class="team-teaser">
          <div class="team-avatar">
            <img src="img/team/Round_512_Charlotte.png" alt="" class="img-circle img-responsive">
          </div>
          <div>
            <h6 class="text-md text-dark">
              Charlotte
            </h6>
          </div>
          <p>
            <small class="text-muted text-xs">Office Manager</small>
          </p>
        </a>
    </li>
</ul>
```

*/

.team-teaser {
  margin-bottom: $padding-large-vertical;
  @media only screen and (max-width: $screen-xs-max) {
    display: block;
    img {
      margin: 0 auto;
    }
  }
}

/*doc
---
title: Full
name: c-teammate
category: Antistatique - Team
---

```html_example
<div class="img-hero" style="background-image:url('img/cover_Alberto.jpg')">

</div>
<div class="bg-foggy">
  <div class="container-fluid">
    <article class="team-full cover-overlap">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <header>
            <h1>Alberto Gomez</h1>
            <div>
              <img class="img-circle img-responsive img-center" src="img/team/Round_512_Alberto.png" alt="">
              <h2 class="h6">Digital Strategist & Founder</h2>
            </div>
          </header>
        </div>
      </div>
      <div class="row content">
        <div class="col-sm-8 col-sm-offset-2">
          <p>Mister one-hundred-percent: 100% Swiss, 100% Colombian, 100% energy and 100% dedicated to communication strategy.<br>His professional experiences are as rich as his sneakers collection. Some are saying that his efficiency in digging music and artists give him the ability to quickly propose the right solutions for your projects... But it means you cannot leave him without an Internet connection for more than 41 minutes! Trust us... We've made some tests!</p>
          <hr class="hr-lg">
        </div>
      </div>
    </article>
  </div>
</div>
```

*/

