.form-mobile {
  @media only screen and (max-width: $screen-xs-max) {
    .input-group {
      display: block;
    }
    .input-group-btn {
      > .btn {
        margin-left: 0;
        margin-top: 4px;
      }
    }
  }
}
