.header {
  @media only screen and (max-width: $screen-xs-max) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
  @media only screen and (min-width: $screen-sm-min) {
    position: absolute;
    z-index: 2;
  }
  width: 100%;
}

.navbar-brand {
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 0;
  }
  img {
    min-width: 29px;
    width: 30px;
    max-height: 31px;
    @media only screen and (min-width: $screen-md-min) {
      width: 165px;
    }
  }
}


.navbar {
  font-weight: 700;
  @media only screen and (max-width: $screen-xs-max) {
    margin: 5px 0 20px 0;
    position: static;
  }
  @media only screen and (min-width: $screen-sm-min) {
    border-bottom: 1px solid rgba($midnight-blue, 0.25);
    .dark-hero & {
      border-bottom-color: rgba($white, 0.25);
    }
  }
}

.navbar-nav > li > a {
  @media only screen and (max-width: $screen-xs-max) {
    display: inline-block;
  }
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav {
  > li {
    @media only screen and (min-width: $screen-sm-min) {
      padding: 45px 15px 29px 15px;
    }
  }
  > .active-trail > a {
    &, &:hover {
      color: $navbar-default-link-active-color;
      .dark-hero & {
        color: $navbar-inverse-link-active-color;
      }
      background-image: transparent;
    }
  }
}

.navbar-btn {
  margin-top: 11px;
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 45px;
  }
}

.navbar-header {
  .btn {
    height: 44px;
    width: 44px;
    padding: 11px 0 0 4px;
    font-size: 17px;
  }
  .dark-hero & {
     > .navbar-toggle {
      color: $white;
    }
    .icon-bar {
      background: $white;
    }
  }
}

.navbar-default .navbar-toggle {
  @media only screen and (max-width: $screen-xs-max) {
    color: $white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    float: none;

    .icon-bar {
      background: $white;
    }
  }
}

.navbar-collapse.navbar-mobile {

  @media only screen and (max-width: $screen-xs-max) {

    &:before{
      content:"";
      position: absolute;
      z-index: 1;
      background: url('../svg/logo.svg') no-repeat;
      background-position: -120px 50%;
      width:300px;
      height: 80px;
      top: 10px;
      left: 0;
      margin-top: 0;
    }
    &:after{
      content:"";
      position: absolute;
      background: url('../svg/logo.svg') no-repeat;
      background-position: center 50%;
      height: 80px;
      width:300px;
      right: -180px;
      top: 10px;
      margin-top: 0;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: 0;
    padding-right: 0;

    &.in {
      overflow: visible;
    }

    > nav {
      padding: 90px 20px 15px;
      background: $white;
      position: relative;

      &:after {
        content: '';
        background: linear-gradient(to top, transparentize($midnight-blue, 1) 0%, transparentize($midnight-blue, 0.2) 100%);
        width: 100%;
        height: 150px;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    .navbar-toggle {
      display: block;
      float: none;
      margin: 0 auto;
    }
    .navbar-nav {
      margin: 0;
      text-align: center;
      font-size: 1.5em;

      > li:not(.active) > a {
        background-image: linear-gradient(to bottom, rgba($white, 0) 25%, rgba($white, 0.6) 25%);
        background-repeat: repeat-x;
        background-size: 3px 3px;
        &:hover {
          color: $link-color;
        }
      }
    }
    .navbar-btn {
      display: block;

      .btn-primary {
        width: 100%;
      }
    }
  }

}

.lang-switcher {
  @media only screen and (min-width: $screen-sm-min) {
    margin-left: 10px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    &.btn-group-vertical  {
      display: block;
      text-align: center;

      > .btn {
        width: auto;
        display: inline-block;
      }
    }
  }
}

.no-hero-image{
  .header {
    margin: 20px 0;
    position: static;
  }
}


// Inverse navbar with dark-hero

.dark-hero {
  .navbar-text {
    color: $navbar-inverse-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
        background-color: $navbar-inverse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-active-color;
        background-color: $navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-disabled-color;
        background-color: $navbar-inverse-link-disabled-bg;
      }
    }
  }
}

// Dark version
.logged-in .tabs--primary{
  position: fixed;
  bottom: 0px;
  z-index: 999;
  right: 10px;
  background: rgba(255, 255, 255, 0.67) none repeat scroll 0% 0%;
}
