.content {
  aside {
    color: $text-muted;
    font-size: $font-size-small;
    @include clearfix;
    margin-bottom: 15px;
    @media only screen and (min-width: $screen-lg-min) {
      float: left;
      width: 200px;
      margin-left: -230px;
      text-align: right;
      margin-top: 0.1em;
      &.aside-right {
        float: right;
        margin-left: 0;
        margin-right: -230px;
        text-align: left;

        &:after {
          @media only screen and (min-width: $screen-lg-min) {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }
    &:after {
      content: '';
      height: 0;
      border-bottom: 1px solid  $midnight-blue-lighter;
      width: 24px;
      margin-top: 15px;
      display: block;
      @media only screen and (min-width: $screen-lg-min) {
        margin-left: auto;
      }
    }
  }
}

blockquote.blockquote-paragraph {
  // font-size: $font-size-base;
  // font-weight: 400;
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media only screen and (min-width: $screen-sm-min) {
    &:before,
    &:after {
      position: absolute;
      color: $dust;
      font-size: 100px;
    }
    &:before {
      content: '“';
      left: 0;
      top: 51px;
    }
    &:after {
      content: '”';
      right: 0;
      bottom: 47px;
      @media only screen and (min-width: $screen-sm-min) {
        bottom: 14px;
      }
    }
  }
}

.paragraphs-item-image-wide {
  .half {
    margin: 0 auto;
    max-width: 2600px;
    @media only screen and (min-width: $screen-sm-min) {
      @include clearfix;
      .field-wide-images {
        max-width: 50%;
        float: left;
      }
    }
  }
  .centered {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
