{% extends "layout.twig" %}

{% block pagetitle %}Alberto Example{% endblock %}

{% block page %}
  <img class="img-responsive" src="../img/cover_Alberto.jpg" alt="Alberto de dos">
  <div class="bg-foggy">
    <div class="container">
      <article class="team-full">
        <div class="row header clearfix">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>Alberto Gomez</h1>
            <div>
              <img class="img-circle img-responsive img-center" src="../img/team/Round_512_Alberto.png" alt="">
              <h2 class="h6">Digital Strategist & Founder</h2>
            </div>
          </div>
        </div>
        <div class="row content">
          <div class="col-sm-8 col-sm-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo accusantium soluta eius dolorum dolores ratione, repudiandae, nesciunt nemo sint perferendis ab fuga porro maiores quidem odit eaque fugit consequuntur temporibus?</p>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}