{% extends "layout.twig" %}

{% block pagetitle %}index{% endblock %}

{% block page %}
  <div class="img-hero" style="background-image:url('../img/boulot_devs_yann_gilles.jpg')">
    <img src="../img/meet_the_team.svg" alt="" class="img-svg-title">
    <h1>This is a title<br/>on multiple lines</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-xs-12 col-lg-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">


 <h1>Typography</h1>
        <p>
          Ideally, the most legible typography contains between 45 and 75 characters per line. This is difficult to accomplish for all screen widths with only CSS media-queries. FlowType.JS eases this difficulty by changing the font-size and subsequently the line-height based on a specific element's width. This allows for a perfect character count per line at any screen width.
        </p>
        <h2>What about options?</h2>
          <p>
            Additional options allow you to configure FlowType.JS to fit your needs. These options include element size thresholds, font-size thresholds and ratios. The element size thresholds will stop FlowType.JS from performing its magic once the element reaches beyond specific pixel dimensions. The font-size thresholds will stop FlowType.JS from resizing the text beyond certain font-sizes. Lastly, you have full control over the base font-size, so that you can set your typography perfectly.
          </p>
        <h2>Is there more magic?</h2>
        <h3>Are there any catches?</h3>
          <p>
            There is one catch: when using FlowType.JS, it will only perform it's magic on the element and child elements that are specified in the closing document's call. For example, if you have inside of an and you apply FlowType.JS to, it will only update and not. But, if you apply FlowType.JS to, the entire contents including will be updated. We believe that this can be used to your advantage. So, tweak and change as you feel necessary.
          </p>
          <h3>Next Steps</h3>
            <p>
              FlowType.JS is extremely easy to use. Visit the getting started section on the FlowType.JS page, follow the four easy steps and you will be on well on your way to performing magic.
            </p>
        <h4>Print designers love FlowType.JS</h4>
          <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
          </p>
        <h5>Give me a high five</h5>
          <p>
            Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
          </p>
          <h5>Give me another high five</h5>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.
          </p>
        <h6>The Sixth sense</h6>
        <p>
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
        </p>
        <h6>Is that enough for you?</h6>
        <p>
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
        </p>
        <h6>Here's some more examples</h6>
        <p>
           Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
        </p>
        <hr>
        <h1>Let's recap all this and test on more time</h1>
        <h2>Is there more magic that can appear here?</h2>
        <h3>Are there any catches? What about it?</h3>
        <h4>Print designers love FlowType.JS</h4>
        <h5>Give me a high five please, bro!</h5>
        <h6>Is that enough for you or should I keep on going?</h6>
        <p>
          Ideally, the most legible typography contains between 45 and 75 characters per line. This is difficult to accomplish for all screen widths with only CSS media-queries. FlowType.JS eases this difficulty by changing the font-size and subsequently the line-height based on a specific element's width. This allows for a perfect character count per line at any screen width.
        </p>


      </div>
    </div>
  </div>


<div class="view view-projects view-id-projects view-display-id-block_variant view-dom-id-0ecf307a4f56fdafd58ea312c3ea73fe">



      <div class="view-content">
      <div class="container">
  <div class="row">
                <div class="views-row views-row-1 views-row-odd views-row-first col-sm-6">

<a href="/fr/content/justice-juvenile-2015">
  <div id="node-39" class="node node-project node-promoted node-teaser contextual-links-region clearfix card" about="/fr/content/justice-juvenile-2015" typeof="sioc:Item foaf:Document">

  <div class="field-teammate-hero-image">
    <picture class="img-responsive">
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_1x/public/hero-project/jj2015_3.jpg?itok=54Strbyl 1x, http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_2x/public/hero-project/jj2015_3.jpg?itok=706jTxRn 2x" media="(max-width: 767px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-sm-max_1x/public/hero-project/jj2015_3.jpg?itok=iiqUbPX2 1x" media="(max-width: 991px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-md-max_1x/public/hero-project/jj2015_3.jpg?itok=NZUQkbuj 1x" media="(max-width: 1199px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-lg-min_1x/public/hero-project/jj2015_3.jpg?itok=pOuG44a_ 1x" media="(min-width: 1200px)">
<!--[if IE 9]></video><![endif]-->
<!--[if lt IE 9]>
<img class="img-responsive" typeof="foaf:Image" src="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/hero-project/jj2015_3.jpg?itok=g7rXjyAS" alt="" title="" />
<![endif]-->
<!--[if !lt IE 9]><!-->
<img class="img-responsive" srcset="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/hero-project/jj2015_3.jpg?itok=g7rXjyAS 555w" alt="" title="">
<!-- <![endif]-->
</picture>  </div>
        <div class="card-content">
      <p></p>
      <h4>Site documentaire pour le congrès mondiale sur la Justice Juvénile 2015</h4>
    </div>
  </div>
</a>
      </div>
                <div class="views-row views-row-2 views-row-even col-sm-6">

<a href="/fr/content/medecins-sans-frontieres">
  <div id="node-37" class="node node-project node-promoted node-teaser contextual-links-region clearfix card" about="/fr/content/medecins-sans-frontieres" typeof="sioc:Item foaf:Document">

  <div class="field-teammate-hero-image">
    <picture class="img-responsive">
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_1x/public/msf.jpg?itok=H3piTx0J 1x, http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_2x/public/msf.jpg?itok=gvNG5Ozw 2x" media="(max-width: 767px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-sm-max_1x/public/msf.jpg?itok=UQ-P6Oh5 1x" media="(max-width: 991px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-md-max_1x/public/msf.jpg?itok=yAgejwFz 1x" media="(max-width: 1199px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-lg-min_1x/public/msf.jpg?itok=UOOTQ4ee 1x" media="(min-width: 1200px)">
<!--[if IE 9]></video><![endif]-->
<!--[if lt IE 9]>
<img class="img-responsive" typeof="foaf:Image" src="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/msf.jpg?itok=3qdlNRpp" alt="" title="" />
<![endif]-->
<!--[if !lt IE 9]><!-->
<img class="img-responsive" srcset="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/msf.jpg?itok=3qdlNRpp 555w" alt="" title="">
<!-- <![endif]-->
</picture>  </div>
        <div class="card-content">
      <p></p>
      <h4>Médecins sans Frontières </h4>
    </div>
  </div>
</a>
      </div>
                <div class="views-row views-row-3 views-row-odd views-row-last col-sm-4">

<a href="/fr/content/club-tennis-lausanne">
  <div id="node-35" class="node node-project node-promoted node-teaser contextual-links-region clearfix card" about="/fr/content/club-tennis-lausanne" typeof="sioc:Item foaf:Document">

  <div class="field-teammate-hero-image">
    <picture class="img-responsive">
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_1x/public/tennis_lausanne.jpg?itok=E_72ZIKF 1x, http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-xs-max_2x/public/tennis_lausanne.jpg?itok=u2F2y0I_ 2x" media="(max-width: 767px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-sm-max_1x/public/tennis_lausanne.jpg?itok=02aIimZM 1x" media="(max-width: 991px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-md-max_1x/public/tennis_lausanne.jpg?itok=jCEthv98 1x" media="(max-width: 1199px)">
<source srcset="http://staging.antistatique.net/sites/default/files/styles/project_breakpoints_theme_bootstrap_screen-lg-min_1x/public/tennis_lausanne.jpg?itok=zyvX3lsr 1x" media="(min-width: 1200px)">
<!--[if IE 9]></video><![endif]-->
<!--[if lt IE 9]>
<img class="img-responsive" typeof="foaf:Image" src="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/tennis_lausanne.jpg?itok=hmDopcDj" alt="" title="" />
<![endif]-->
<!--[if !lt IE 9]><!-->
<img class="img-responsive" srcset="http://staging.antistatique.net/sites/default/files/styles/project_thumbnail/public/tennis_lausanne.jpg?itok=hmDopcDj 555w" alt="" title="">
<!-- <![endif]-->
</picture>  </div>
        <div class="card-content">
      <p>
  <small class="field-skills">Le design</small>
</p>
      <h4>Club Tennis Lausanne</h4>
    </div>
  </div>
</a>
      </div>
      </div>
</div>
    </div>




<div class="more-link">
  <a href="/fr/nous/travaillons/avec">
    Tous nos projets  </a>
</div>



</div>


  <div class="bg-foggy">
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-6 text-right">
          <h5>We are hiring!</h5>
        </div>
        <div class="col-sm-8 col-md-6">
          <p class="text-muted">We are looking for an experienced <a href="#">Drupal Developer</a>, more than an expert in data visualization.</p>
          <a href="#" class="btn btn-primary">Join the team</a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="spacer"></div>

<div class="bg-foggy text-center">
  <div class="spacer"></div>
  <h3 class="text-huge"><a class="text-dark text-thin" href="tel:+41216236303">+41 21 623 63 03</a></h3>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <address class="col-sm-6">
          <strong>Lausanne</strong><br>
          Rue de Sébeillon 9b<br>
          1004 Lausanne
        </address>
        <address class="col-sm-6">
          <strong>Genève</strong><br>
          Impact Hub - Rue Fendt 1<br>
          1201 Genève
        </address>
      </div>
      <div class="row">
        <div class="col-sm-12">
          Our offices are open from 09:00am to 06:00pm.<br>
          <b>Come for a coffee!</b>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row text-center">
      <h2 class="col-sm-12 h1">We socialize</h2>
      <a href="#" class="fa fa-3x fa-facebook-square"></a>
      <a href="#" class="fa fa-3x fa-twitter-square"></a>
      <a href="#" class="fa fa-3x fa-google-plus-square"></a>
      <a href="#" class="fa fa-3x fa-instagram"></a>
      <a href="#" class="fa fa-3x fa-linkedin-square"></a>
    </div>
    <div class="spacer"></div>
  </div>



{% endblock %}
