{% extends "layout.twig" %}

{% block pagetitle %}index{% endblock %}

{% block page %}
  <div class="container">
    <div class="row">
      <h2 class="col-sm-12 text-center h1">From the blog</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <article class="article-teaser">
          <p class="meta text-uppercase text-xs">
            <span>3 days ago › by <a href="#">Marc</a> in <a href="#">#speak</a></span>
            <span class="pull-right"><a href="#">17</a></span>
          </p>
          <img class="img-responsive" src="http://lorempixel.com/470/135/city" alt="img">
          <h3 class="h6">Frontend conf in Zurich</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quisquam amet consectetur delectus tenetur natus quam maxime expedita exercitationem soluta dolorum eum nihil quia, repudiandae officiis nobis illum? Delectus, dolore!</p>
        </article>
      </div>
    </div>
  </div>



  <div class="bg-foggy">
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-6 text-right">
          <h5>We are hiring!</h5>
        </div>
        <div class="col-sm-8 col-md-6">
          <p class="text-muted">We are looking for an experienced <a href="#">Drupal Developer</a>, more than an expert in data visualization.</p>
          <a href="#" class="btn btn-primary">Join the team</a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>



  <div class="container">
    <div class="row text-center">
      <h2 class="col-sm-12 h1">We socialize</h2>
      <a href="#" class="fa fa-3x fa-facebook-square"></a>
      <a href="#" class="fa fa-3x fa-twitter-square"></a>
      <a href="#" class="fa fa-3x fa-google-plus-square"></a>
      <a href="#" class="fa fa-3x fa-instagram"></a>
      <a href="#" class="fa fa-3x fa-linkedin-square"></a>
    </div>
    <div class="spacer"></div>
  </div>



{% endblock %}