<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block pagetitle %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/main.css">
</head>
<body>

  {% block page %}{% endblock %}

    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="spacer spacer-md"></div>

                        &nbsp;  <strong><a href="#">Lausanne</a></strong> & <strong><a href="#">Geneva</a></strong>&nbsp;
                        <div class="visible-xs spacer spacer-xs"></div>
                        <span class="visible-xs">
                            <a href="tel:0041216236303" class="btn btn-primary">+41 21 623 63 03</a>
                        </span>
                        <span class="hidden-xs"> &nbsp;  +41 21 623 63 03 &nbsp;  </span>
                        <div class="visible-xs spacer spacer-xs"></div>
                        <strong>&nbsp;<a href="mailto:hello@antistatique.net">hello@antistatique.net</a>&nbsp;</strong>

                        <div class="spacer spacer-md"></div>
                        <ul class="list-inline">
                            <li><a href="#we">We</a></li>
                            <li><a href="#we">Work</a></li>
                            <li><a href="#we">With you</a></li>
                            <li>/</li>
                            <li><a href="#we">Inprint</a></li>
                        </ul>
                        <div class="spacer spacer-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  <script src="../js/vendors.min.js"></script>
  <script src="../js/main.min.js"></script>
</body>
</html>