{{#if notes}}<div class="f-item-notes well well-sm" data-f-toggle="notes">
	{{{notes}}}
</div>{{/if}}

{{#if data.background-variant }}<div class="bg-foggy clearfix"><div class="spacer spacer-xs"></div>{{/if}}

<div class="f-item-preview">
  {{#if data.wrapper }}<div class="{{data.wrapper}}">{{/if}}
	 {{{material @key @root}}}
  {{#if data.wrapper }}</div>{{/if}}
</div>
<div class="f-item-code f-item-hidden" data-f-toggle="code">
	<pre><code class="language-markup">{{material @key @root}}</code></pre>
</div>

{{#if data.background-variant }}<div class="spacer spacer-xs"></div></div>{{/if}}
