@charset "UTF-8";

/**
 * Custom variables
 */

$screen-xl-min: 1800px !default;
$screen-lg-max: $screen-xl-min - 1;
$transition-duration: 300ms;

@keyframes hover-effect {
  75% {
    left: -3%;
    top: -3%;
    width: 106%;
    height: 106%;
  }
  100% {
    left: -2%;
    top: -2%;
    width: 104%;
    height: 104%;
  }
}

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase text-white" style="background:#222;"><br><br>#222<br><br><br></div>
      <pre>$gray-darker</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase text-white" style="background:#333;"><br><br>#333<br><br><br></div>
      <pre>$gray-dark</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase text-white" style="background:#555;"><br><br>#555<br><br><br></div>
      <pre>$gray</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#999;"><br><br>#999<br><br><br></div>
      <pre>$gray-light</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#eee;"><br><br>#eee<br><br><br></div>
      <pre>$gray-lighter</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#ee2577;"><br><br>#ee2577<br><br><br></div>
      <pre>$brand-primary</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#40b3ff;"><br><br>#40b3ff<br><br><br></div>
      <pre>$brand-success</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#7f7f98;"><br><br>#7f7f98<br><br><br></div>
      <pre>$brand-info</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#f0ad4e;"><br><br>#f0ad4e<br><br><br></div>
      <pre>$brand-warning</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#d9534f;"><br><br>#d9534f<br><br><br></div>
      <pre>$brand-danger</pre>
    </div>


  </div>
</div>

<h1>Antistatique Colors</h1>

<div class="container-fluid">
  <div class="row">

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#ee2577;width:50%;float:left;"><br><br>#ee2577<br><br><br></div>
      <div class="text-uppercase" style="background:#bd226d;width:50%;float:left;"><br><br>#bd226d<br><br><br></div>
      <pre>$pinkstatik[-dark]<br>-> $brand-primary</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase text-white" style="background:#000031;width:50%;float:left;"><br><br>#000031<br><br><br></div>
      <div class="text-uppercase" style="background:#7f7f98;width: 50%;float:left;"><br>#7f7f98<br><br></div>
      <div class="text-uppercase" style="background:#bfbfcb;width: 50%;float:left;">#bfbfcb<br><br></div>
      <pre>$midnight-blue<br>[-light][-lighter]</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#e9efef;"><br><br>#e9efef<br><br><br></div>
      <pre>$dust</pre>
    </div>

    <div class="text-center col-sm-3 col-xs-6" style="margin-bottom: 15px;">
      <div class="text-uppercase" style="background:#fff;"><br><br>#fff<br><br><br></div>
      <pre>$white</pre>
    </div>

  </div>
</div>
*/

$pinkstatik: #ef2678; // our branded pink
$pinkstatik-dark: #be236e;
$midnight-blue: #000032;
$midnight-blue-light: #808098;
$midnight-blue-lighter: #bfbfcb;
$midnight-blue-variant: #4c4c6f;
$dust: #eaf0f0;
$white: #fff;

$dodger-blue: #40b3ff; // success
$razzmatazz: #d2005a; // danger
$pizazz: #ff9600; // warning

$brand-primary-dark: $pinkstatik-dark;
