@font-face {
  font-family: "antistaticon";
  src: url('../fonts/antistaticon.eot');
  src: url('../fonts/antistaticon.eot?#iefix') format('eot'),
    url('../fonts/antistaticon.woff') format('woff'),
    url('../fonts/antistaticon.ttf') format('truetype'),
    url('../fonts/antistaticon.svg#antistaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.antistaticon:before {
  display: inline-block;
  font-family: "antistaticon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.antistaticon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.antistaticon-2x { font-size: 2em; }
.antistaticon-3x { font-size: 3em; }
.antistaticon-4x { font-size: 4em; }
.antistaticon-5x { font-size: 5em; }
.antistaticon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.antistaticon-axa:before { content: "\EA01" }
.antistaticon-bata:before { content: "\EA02" }
.antistaticon-bcv:before { content: "\EA03" }
.antistaticon-brigerbad:before { content: "\EA04" }
.antistaticon-canton-de-geneve:before { content: "\EA05" }
.antistaticon-canton-de-vaud:before { content: "\EA06" }
.antistaticon-cardis-sothebys:before { content: "\EA07" }
.antistaticon-caret:before { content: "\EA08" }
.antistaticon-confederation-suisse:before { content: "\EA09" }
.antistaticon-courtiers-partenaires:before { content: "\EA0A" }
.antistaticon-credit-agricole:before { content: "\EA0B" }
.antistaticon-derham-sothebys:before { content: "\EA0C" }
.antistaticon-derham:before { content: "\EA0D" }
.antistaticon-diams:before { content: "\EA0E" }
.antistaticon-ehl:before { content: "\EA0F" }
.antistaticon-electrosanne:before { content: "\EA10" }
.antistaticon-enter:before { content: "\EA11" }
.antistaticon-foncia:before { content: "\EA12" }
.antistaticon-horizon-vert:before { content: "\EA13" }
.antistaticon-key-of-aurora:before { content: "\EA14" }
.antistaticon-lavey-les-bains:before { content: "\EA15" }
.antistaticon-lavey:before { content: "\EA16" }
.antistaticon-le-temps:before { content: "\EA17" }
.antistaticon-loterie-romande:before { content: "\EA18" }
.antistaticon-medecins-sans-frontieres:before { content: "\EA19" }
.antistaticon-okado:before { content: "\EA1A" }
.antistaticon-orbium:before { content: "\EA1B" }
.antistaticon-picturepark:before { content: "\EA1C" }
.antistaticon-pierre-etoile:before { content: "\EA1D" }
.antistaticon-pingpong:before { content: "\EA1E" }
.antistaticon-prateo:before { content: "\EA1F" }
.antistaticon-rdr:before { content: "\EA20" }
.antistaticon-redbull:before { content: "\EA21" }
.antistaticon-rodondi-joye:before { content: "\EA22" }
.antistaticon-rts:before { content: "\EA23" }
.antistaticon-tehran-watch:before { content: "\EA24" }
.antistaticon-tennis-club-de-lausanne:before { content: "\EA25" }
.antistaticon-uchitomi:before { content: "\EA26" }
.antistaticon-urturn:before { content: "\EA27" }
.antistaticon-uww:before { content: "\EA28" }
.antistaticon-vaudoise:before { content: "\EA29" }
.antistaticon-ville-de-geneve:before { content: "\EA2A" }