$screen-xl-min: 1800px !default;
$screen-lg-max: $screen-xl-min - 1;
$transition-duration: 300ms;

@keyframes hover-effect {
  75% {
    left: -3%;
    top: -3%;
    width: 106%;
    height: 106%;
  }
  100% {
    left: -2%;
    top: -2%;
    width: 104%;
    height: 104%;
  }
}

// Colors
$pinkstatik:                   #ef2678; // our branded pink
$pinkstatik-dark:              #be236e;
$midnight-blue:                #000032;
$midnight-blue-light:          #808098;
$midnight-blue-lighter:        #bfbfcb;
$midnight-blue-variant:        #4c4c6f;
$dust:                         #eaf0f0;
$white:                        #fff;

$dodger-blue:                  #40b3ff; // success
$razzmatazz:                   #d2005a; // danger
$pizazz:                       #ff9600; // warning

$brand-primary-dark:           $pinkstatik-dark;
