// Specific styles for the styleguide only!
// Will be built into the build/styleguide.css file.

.header {
  .navbar-fixed-top {
    background: white;
  }
  .navbar-nav>li>a {
    padding: 0;
  }
  .navbar-brand {
    padding: 11px 15px 11px 0;
  }
  .navbar-default .navbar-nav > li {
    padding: 12px 15px;
  }
  .navbar>.container .navbar-brand {
    margin-left: 0;
  }

  .nav.nav-pills > li > a {
    padding: 3px 5px !important;
  }
}


.exampleOutput {
  position: relative;
  padding: 50px 0;
}

.show-code {
  position: absolute;
  left: 0;
  bottom: 0;
}

.cortana-footer {
  margin-top: 80px;
}

h1.styleguide {
  border-top: 1px solid #999;
  padding-top: 90px;
  margin-top: 0;
}

table.styleguide {
  margin-top: 30px;
}

.styleguide-padding {
  padding: 20px 40px;
}