html {
  font-size: 16px !important;
}

.f-container {
  max-width: 1170px;
}

.f-item-group {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.f-item-heading-group {
  margin-bottom: 1.5rem;
  padding: 0 15px;
  background: #000032;
  color: #fff;
}

.f-item-preview {
  background: #fff;
}

.f-item-notes {
  margin-bottom: 30px;
}

.f-control svg {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  td, th {
    padding: 12px 18px;
    border: 1px solid #ddd;
  }
  thead {
    border-bottom: 2px solid #ddd;
  }
}

// TYPOGRAPHY
// ==========

.f-item-heading {
  font-size: 1.5em;
}

