html {
  font-size: 16px !important;
}

.f-item-notes {
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 12px 18px;
    border: 1px solid #ddd;
  }
  thead {
    border-bottom: 2px solid #ddd;
  }
}
