@charset "UTF-8";
/*doc
---
title: Product
name: e-product-ct
category: Antistatique - Content Types
---

https://projects.invisionapp.com/d/main#/console/1442313/54654736/preview

### Fields

| Field | Type | Full | Teaser | Required | Comment |
|-------|------|:----:|:------:|:--------:|---------|
| title | text | ✔︎ | ✔︎ | Yes | max 128 caractères |
| price | decimal | ✔︎ | ✔︎ | Yes | Currency + decimal (CHF 39.- ou 29,99 €)  see comment **1**|
| main image | image | ✔︎ | ✔︎ | Yes | PNG carré (min. 256px) |
| manufacturer name | text | ✔︎ | | | nom du fabricant / éditeur / auteur / etc. |
| manufacturer url | link | ✔︎ | | | site du fabricant / éditeur / auteur / etc. |
| retailer name | text | ✔︎ | | | |
| retailer url | link |✔︎ | | | |
| short description | text | ✔︎ | | | max. 250 caractères |
| retailer product url | link | ✔︎ | | | lien (d'affiliation) vers le produit chez le vendeur |
| curator | Entity Reference | ✔︎ | | | Personne de l'agence qui a fait cette sélection |
| long description | text | ✔︎ | | | Description plus complète du "pourquoi" je vous propose ce produit/service/objet/etc. |
| product images | image (max 3) | ✔︎ | | | PNG |

### Questions

- **1** – is it possible in Drupal to choose the currency at this moment? And display it before or after number?



*/